@import './stats-group';

:root {
  --stat-vertical-gap: 2px;

  --stat-header-padding: 5px;
  --stat-header-text-transform: uppercase;
  --stat-header-background-color: #cfcfcf;
  --stat-header-text-color: white;
  --stat-header-font-size: 18px;

  --stat-padding-ys: 2px;
  --stat-padding-xs: 10px;
  --stat-background-color: #efefef;
  --stat-text-color: black;
  --stat-font-size: 14px;

  --stat-term-max-width: auto;
  --stat-term-text-align: left;
  --stat-description-text-align: right;
}

.country__header {
  background-color: var(--stat-header-background-color);
  color: var(--stat-header-text-color);
  text-transform: var(--stat-header-text-transform, none);
}
.country__header-text {
  font-size: var(--stat-header-font-size);
  padding: var(--stat-header-padding, 0px);
}

.country__header, .stats__stat-term, .stats__stat-description {
  margin-bottom: var(--stat-vertical-gap);
}
.stats__stat-term, .stats__stat-description {
  background-color: var(--stat-background-color);
  color: var(--stat-text-color);
  padding: var(--stat-padding-ys, 0px) var(--stat-padding-xs, 0px);
  font-size: var(--stat-font-size, 14px);
}
.stats__stat-term:after {
  content: ':';
}
