:root {
  --stat-vertical-gap: 2px;

  --stat-term-max-width: auto;
  --stat-term-text-align: left;
  --stat-description-text-align: right;
  --stat-font-size: 14px;
}

.stats__list {
  margin-top: calc(var(--stat-vertical-gap, 2px) - var(--stat-font-size, 14px));
}
.stats__stat-term, .stats__stat-description {
  font-size: var(--stat-font-size, 14px);
  height: calc(var(--stat-font-size, 14px) + var(--stat-padding-ys, 2px));
  line-height: calc(var(--stat-font-size, 14px) + var(--stat-padding-ys, 2px));
}

.stats__stat-term {
  float: left;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: var(--stat-term-max-width, auto);
  text-align: var(--stat-term-text-align, left);
}
.stats__stat-description {
  margin-left: var(--stat-term-max-width, auto);
  text-align: var(--stat-description-text-align, right);
}
.stats__stat-description:before, .stats__stat-description:after {
  display: table;
  content: " ";
}
.stats__stat-description:after {
  clear: both;
}
